<div class="row">
    <div class="col-xs-12">
        <h3 style="margin-top: 10px">Add New Recipe</h3>
        <hr/>
        <form>
            <div class="form-group">
                <label for="name">Recipe Name</label>
                <input type="text" class="form-control" name="name" required ngModel>
            </div>
            <div class="form-group">
                <label for="content">Recipe Content</label>
                <input type="text" class="form-control" name="content" required ngModel>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Add Recipe</button>
            </div>
        </form>
    </div>
</div>