<div class="row">
  <div class="col-xs-6">
    Emits Number with Observable.interval :: {{number}}
  </div>
  <div class="col-xs-6">
    Own Observable: <br/>
    <pre>{{observable | json}}</pre>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <p>User 1 {{isUserActivated ? '(Activated)': ''}}</p>
    <button type="button" class="btn btn-warning" (click)="onUserActivated(1)">Using Subject</button>
    <p></p><em>Subject shall be used for Cross component communication instead of EventEmitter</em>
  </div>
</div>
