<div class="row">
    <div class="col-md-5">
        <!--<app-recipes-list (recipeSelected)="selectedRecipe = $event"></app-recipes-list>-->
        <app-recipes-list></app-recipes-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <hr/>
    <p appBasicHighlight [highlightColor]="'rgb(251,38,38)'">Highlight with own directive</p>
    <button type="button" class="btn btn-primary" appToggle>Toggle class with Directive</button>
  </div>
</div>
