<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Template Driven Forms</h4></div>
      <div class="panel-body">
        <div class="alert alert-danger" *ngIf="!userData.valid && userData.touched">User Data is invalid</div>
        <form (ngSubmit)="onFormSubmit(form)" #form="ngForm">
          <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" name="username" ngModel required/>
            </div>
            <p class="text-muted text-right"><a (click)="onSuggestUsername()">Suggest an Username</a></p>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" name="email" ngModel required email #email="ngModel"/>
              <span class="help-block error" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
            </div>
            <div class="form-group">
              <label for="secret">Secret Questions</label>
              <select id="secret" class="form-control" name="secret" [ngModel]="'pet'" required>
                <option value="pet">Your First Pet?</option>
                <option value="teacher">Your Favorite teacher?</option>
              </select>
            </div>
            <div class="form-group">
              <textarea name="questionAnswer" rows="3" class="form-control" [(ngModel)]="answer"></textarea>
              Your Answer : {{answer}}
            </div>
            <div class="radio radio-primary" *ngFor="let gender of genders">
              <input type="radio" name="gender" id="{{ gender }}" ngModel [value]="gender" required>
              <label for="{{ gender }}">
                {{ gender }}
              </label>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <hr/>
    <div *ngIf="submitted">
    <h3>Your Data:</h3>
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Secret Question: {{user.secretQuestion}}</p>
      <p>Your Answer: {{user.answer}}</p>
      <p>Gender: {{user.gender}}</p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Reactive Forms</h4></div>
      <div class="panel-body">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group" [class.has-error]="!signupForm.get('username').valid && signupForm.get('username').touched">
            <label for="username2">Username</label>
            <input type="text" class="form-control" id="username2" formControlName="username" />
            <span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="help-block">
              <span *ngIf="signupForm.get('username').errors['required']">Username is required.</span>
              <span *ngIf="signupForm.get('username').errors['isNameForbidden']">Username is invalid.</span>
            </span>
          </div>
          <div class="form-group relative" [class.has-error]="!signupForm.get('email').valid && signupForm.get('email').touched">
            <label for="email2">Email</label>
            <input type="email" class="form-control" id="email2" formControlName="email"/>
            <div class="loader loader--style1 absLoader" title="0" *ngIf="signupForm.get('email').pending">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3                .org/1999/xlink" x="0px" y="0px"
               width="32px" height="32px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
              <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
              <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                C22.32,8.481,24.301,9.057,26.013,10.047z">
                <animateTransform attributeType="xml"
                  attributeName="transform"
                  type="rotate"
                  from="0 20 20"
                  to="360 20 20"
                  dur="0.5s"
                  repeatCount="indefinite"/>
                </path>
              </svg>
            </div>
            <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">
              <span *ngIf="signupForm.get('email').errors['email']">Email is invalid.</span>
              <span *ngIf="signupForm.get('email').errors['emailIsForbidden']">Email has been taken.</span>
            </span>
          </div>
          <div formGroupName="ageData">
            <div class="form-group" [class.has-error]="!signupForm.get('ageData.age').valid && signupForm.get('ageData.age').touched">
              <label for="age">Age</label>
              <input type="text" class="form-control" id="age" formControlName="age"/>
              <span *ngIf="!signupForm.get('ageData.age').valid && signupForm.get('ageData.age').touched" class="help-block">Please enter age</span>
            </div>
            <div class="form-group" [class.has-error]="!signupForm.get('ageData.dob').valid && signupForm.get('ageData.dob').touched">
              <label for="dob">Date Of Birth(dd/mm/yyyy)</label>
              <input type="text" class="form-control" id="dob" formControlName="dob"/>
              <span *ngIf="!signupForm.get('ageData.dob').valid && signupForm.get('ageData.dob').touched" class="help-block">Please enter Date of Birth</span>
            </div>
          </div>
          <div class="radio radio-primary" *ngFor="let choice of choices">
            <input type="radio" id="{{choice}}" [value]="choice" required formControlName="choiceR" />
            <label for="{{choice}}">
              {{ choice }}
            </label>
          </div>
          <div formArrayName="hobbies">
            <div class="form-group">
              <h5>Your Hobbies</h5>
              <button class="btn btn-info" type="button" (click)="onAddNewHobby()">Add New Hobby</button>
            </div>

            <div class="form-group" *ngFor="let hobby of signupForm.get('hobbies').controls; let i=index">
              <label></label>
              <input type="text" class="form-control" [formControlName]="i">
            </div>
          </div>
          <br/>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
